blinker==1.4
boto==2.38.0
bugsnag==2.3.1
eventlet==0.17.4
Flask==0.10.1
gevent==1.0.2
greenlet==0.4.9
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
newrelic==2.56.0.42
py-lru-cache==0.1.4
PyYAML==3.11
raven==5.8.1
WebOb==1.5.0
Werkzeug==0.10.4
